

.calculator-body{
    border: solid 5px black;
    width:300px;
}

body{
    display:flex;
    justify-content: center;
}

.display-container {
    width: 300px;
    height: 75px;
    border-bottom: solid 5px grey;
    /* margin-bottom: 5px; */
    justify-content: right;
    align-items: center;
    display:flex;
}

.display-container, p{
    font-size: 70px;
    margin:0;
    margin-right: 15px;
    margin-top: 15px;
}


button{
    width: 75px;
    height: 75px;
}

.buttons-container{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.numericBtn-container{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.first-row, .second-row, .third-row,.fourth-row,.fifth-row{
    display:flex;
}

.fifth-row :first-child{
    width: 150px;
}

